@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    height: 70px;
    /* background-color: aliceblue; */
    /* background-color: #126180; */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 40px rgb(227, 227, 227);
}

header>nav {
    display: flex;
    align-items: center;
    justify-content: left;
}

header>nav>div:first-child {
    padding-right: 200px;
    font-size: 25px;
    padding-left: 70px;
}

header>nav>#lg>a {
    text-decoration: none;
    color: black;
}

header>nav>.nv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    margin-left: 20px;
    border-radius: 15px;
}

header>nav>.nv:hover {
    background-color: coral;
    transition: .5s ease;
}

header>nav>.nv>a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

header>nav>#search {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    border: black solid 1.5px;
    margin-left: 10px;
    padding-right: 10px;

}

header>nav>#search:hover{
    border: coral solid 1.5px;
}

#icon {
    font-size: 14px;
    height: 25px;
    width: 22px;
    background-color: white;
    text-align: center;
    padding-top: 2px;
    border-radius: 10px 0px 0px 10px;
}

header>nav>#search>input {
    border: none;
    width: 180px;
    height: 25px;
}

header>nav>#search>input:focus {
    outline: none;
}

header>nav>.nv>a>i {
    font-size: 30px;
}

/* Main Card CSS */

#containerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#containerBox>main {
    height: 350px;
    width: 250px;
    margin: 20px;
    padding-top: 20px;
    /* border: black solid 2px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    /* background-color: whitesmoke; */
}

/* To Move The Cart Upside */

#containerBox>main:hover {
    transform: translateY(-10px);
    transition: 0.3s ease;
    border: solid 3px red;
}

#containerBox>main>h2 {
    font-size: 18px;
}

h1 {
    color: rgb(64, 62, 72);
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
}

h2,
h3 {
    font-size: 14px;
    color: black;
    text-align: center;
    margin-top: 20px;
}

img {
    height: 150px;
    border-radius: 20px;
    /* border: solid black 2px; */
}

main>#rating{
    font-size: px;
}

#end {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#end>strong {
    color: green;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    padding-left: 5px;
}

#view {
    height: 29px;
    width: 100px;
    background-color: rgb(18, 141, 218);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    border: solid 1px;
    color: white;
}

#view:hover {
    background-color: rgb(3, 115, 184);
}