@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER CSS */

header {
    height: 70px;
    /* background-color: aliceblue; */
    /* background-color: #126180; */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 40px rgb(227, 227, 227);
}

header>nav {
    display: flex;
    align-items: center;
    justify-content: left;
}

header>nav>div:first-child {
    padding-right: 200px;
    font-size: 25px;
    padding-left: 70px;
}

header>nav>#lg>a {
    text-decoration: none;
    color: black;
}

header>nav>.nv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    margin-left: 20px;
    border-radius: 15px;
}

header>nav>.nv:hover {
    background-color: coral;
    transition: .5s ease;
}

header>nav>.nv>a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

header>nav>#search {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    border: black solid 1.5px;
    margin-left: 10px;
    padding-right: 10px;

}

header>nav>#search:hover{
    border: coral solid 1.5px;
}

#icon {
    font-size: 14px;
    height: 25px;
    width: 22px;
    background-color: white;
    text-align: center;
    padding-top: 2px;
    border-radius: 10px 0px 0px 10px;
}

header>nav>#search>input {
    border: none;
    width: 180px;
    height: 25px;
}

header>nav>#search>input:focus {
    outline: none;
}

header>nav>.nv>a>i {
    font-size: 30px;
}


/* CARDS CSS CODE */


#card {
    height: 330px;
    width: 900px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: start;
    justify-content: left;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

card:hover {
    transform: translateY(-10px);
    transition: 0.3s ease;
    border: solid 3px red;
}

#bill {
    height: 330px;
    width: 900px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: start;
    justify-content: left;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bill>#inner{
    height: 250px;
    width: 820px;
    border-radius: 20px;
    border: black dotted 1px;
    background-color: rgb(234, 255, 228);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card>#c_img {
    height: 260px;
    width: 260px;
    border-radius: 20px;
    border: black 1px solid;
    margin: 20px;
}

#card>#c_img>img {
    height: 250px;
}

#card>#c_content {
    height: 300px;
    flex-grow: 2;
}

#card>#c_content>h1 {
    font-size: 18px;
    padding-top: 13px;
    padding-bottom: 10px;
}

#card>#c_content>p {
    padding-bottom: 10px;
    font-size: 14px;
}

#price {
    color: green;
}

#remove {
    position: relative;
    left: 450px;
    bottom: 100px;
    border: none;
    border-radius: 10px;
    background-color: orangered;
    color: white;
    height: 40px;
    width: 80px;
}

#empty {
    height: 330px;
    width: 900px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: start;
    justify-content: left;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#empty>h2{
    color: rgb(173, 173, 173);
    font-size: 30px;
}